<div class="container">
    <div class="row">
        <div class="col-md-4 text-center">
            <div ui-sref="portfolio.professionalProjects" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Professional</div>
            <div ui-sref="portfolio.personalProjects" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Personal</div>
            <div ui-sref="portfolio.funProjects" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Fun</div>
        </div>
    </div>
    <div ui-view></div>
</div>