<div class="row">
        <div class="col-md-4 ">
            <div class="ng-card projectDiv">Project Bubble 1</div>
        </div>
        <div class="col-md-4 ">
            <div class="ng-card projectDiv">Project Bubble 2</div>
        </div>
        <div class="col-md-4 ">
            <div class="ng-card projectDiv">Project Bubble 3</div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 ">
            <div class="ng-card projectDiv">Project Bubble 4</div>
        </div>
        <div class="col-md-4 ">
            <div class="ng-card projectDiv">Project Bubble 5</div>
        </div>
        <div class="col-md-4 ">
            <div class="ng-card projectDiv">Project Bubble 6</div>
        </div>
    </div>
