<div class="row">
    <div class="col-md-4">
        <div class="ng-card projectDiv">
            <div class="professionalCard"></div>
            <div class="cardHover">
                <a href="http://www.cambiumlearningtechnologies.com/" target="_blank"><div class="hoverButton">See More</div></a>
                <div class="hoverText">Cambium Learning Group</div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ng-card projectDiv">
            <div class="professionalCard"></div>
            <div class="cardHover">
                <a href="https://wavcatcher.com/index.html" target="_blank"><div class="hoverButton">See More</div></a>
                <div class="hoverText">WavCatcher</div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ng-card projectDiv">
            <div class="professionalCard"></div>
            <div class="cardHover">
                <a href="http://pixelsandprofit.com/" target="_blank"><div class="hoverButton">See More</div></a>
                <div class="hoverText">Pixels and Profit</div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="ng-card projectDiv">
            <div class="professionalCard"></div>
            <div class="cardHover">
                <a href="http://pulsem.me/" target="_blank"><div class="hoverButton">See More</div></a>
                <div class="hoverText">Speetra</div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ng-card projectDiv">
            <div class="professionalCard"></div>
            <div class="cardHover">
                <a href="http://www.techedventures.com/" target="_blank"><div class="hoverButton">See More</div></a>
                <div class="hoverText">Tech Edventures</div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ng-card projectDiv">
            <div class="professionalCard"></div>
            <div class="cardHover">
                <a href="http://smartending.com/" target="_blank"><div class="hoverButton">See More</div></a>
                <div class="hoverText">Smartending</div>
            </div>
        </div>
    </div>
</div>