<div class="row">
    <div class="col-md-4">
        <div class="ng-card projectDiv">
            <div class="professionalCard card-1"></div>
            <div class="cardHover">
                <a href="http://www.cambiumlearningtechnologies.com/" target="_blank"><div class="hoverButton">See More</div></a>
                <h2 class="hoverText">Cambium Learning Group</h2>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ng-card projectDiv">
            <div class="professionalCard card-2"></div>
            <div class="cardHover">
                <a href="https://wavcatcher.com/index.html" target="_blank"><div class="hoverButton">See More</div></a>
                <h2 class="hoverText">WavCatcher</h2>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ng-card projectDiv">
            <div class="professionalCard card-3"></div>
            <div class="cardHover">
                <a href="http://pixelsandprofit.com/" target="_blank"><div class="hoverButton">See More</div></a>
                <h2 class="hoverText">Pixels and Profit</h2>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="ng-card projectDiv">
            <div class="professionalCard card-4"></div>
            <div class="cardHover">
                <a href="http://pulsem.me/" target="_blank"><div class="hoverButton">See More</div></a>
                <h2 class="hoverText">Speetra</h2>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ng-card projectDiv">
            <div class="professionalCard card-5"></div>
            <div class="cardHover">
                <a href="http://www.techedventures.com/" target="_blank"><div class="hoverButton">See More</div></a>
                <h2 class="hoverText">Tech Edventures</h2>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ng-card projectDiv">
            <div class="professionalCard card-6"></div>
            <div class="cardHover">
                <a href="http://smartending.com/" target="_blank"><div class="hoverButton">See More</div></a>
                <h2 class="hoverText">Smartending</h2>
            </div>
        </div>
    </div>
</div>